$primary-bg-color: #636363;
$secondary-bg-color: #02172a;
$accent-color: #ffaf0f;
$primary-text-color: #000000;
$secondary-text-color: #555555;
$white-color: #ffffff;
$button-color: #ff6b09;
$line-color: #e2e3e5;

$mobile-end: 767px;
$tablet: 768px;
$tablet-end: 1279px;
$desktop: 1280px;
